<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/index_style.css" %}">
    <link rel="stylesheet" href="{% static "css/transaction_style.css" %}">
    <!--    <link rel="stylesheet" href="../assets/css/index_style.css">-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto+Condensed:wght@100;300&display=swap"
          rel="stylesheet">

    <title>{% block title %}Личный кабинет{% endblock %}</title>
</head>
<body style="height: 100vh">
<header>
    <div class="nav">
        <div class="nav_logo">
            Course.Bank
        </div>
        <nav class="nav_link_bar">
            {% block sidebar %}
                <a class="nav_link" href="{% url "personal" %}"> Назад </a>
                {% if authorization %} {# Проверка на авторизацию пользователя #}
                    {% if admin %}
                        <a href="{% url "choice_search" %}" class="nav_link">Администрирование</a>
                    {% endif %}
                    {% if employee %} {# Проверка на группу админ или служащий #}
                        <a class="nav_link" href="{% url "management" %}"> Управление клиентскими данными и счетами </a>
                    {% endif %}
                    {% if client and profile %}
                        <a href="{% url "personal" %}" class="nav_link">Личный кабинет</a>
                    {% endif %}
                    <a class="nav_link" href="/logout/"> Выход </a>
                {% else %}
                    <a class="nav_link" href="/login/"> Вход </a>
                {% endif %}
            {% endblock %}
        </nav>
    </div>
</header>

<section>
    {% if two_wallets %}
        <div class="content_row" style="font-size: 1.7rem">
        <div class="content_container">
        <div class="content_block">
        <div class="block_title" style="height: auto">
            <div class="block_title_text">
                Выберите необходимое действие
            </div>
        </div>
        <div class="block_text" style="margin-bottom: 2rem">
            <button id="transfer_between_choice">Перевод между своими счетами</button>
            <button id="transfer_to_choice">Перевод на чужой счёт</button>
        </div>
        <div class="block_text">
        <div id="transfer_between_accounts" style="display: none;">
            <div class="transfer_title">Перевод между своими счетами</div>
            <form method="post" action="{% url 'transactions' %}">
                {% csrf_token %}

                <div class="transfer_element">
                    <label for="account_from">Отправить со счёта:</label>
                    <select name="account_from" id="account_from">
                        {% if isThere_wallet %}
                            <option value="wallet_option">Сберегательный счёт</option>
                        {% endif %}
                        {% if isThere_credit %}
                            <option value="credit_option">Кредитный счёт</option>
                        {% endif %}
                        {% if isThere_savings %}
                            <option value="savings_option">Накопительный счёт</option>
                        {% endif %}
                    </select>
                </div>

                <div class="transfer_element">
                    <label for="account_to">Отправить на счёт:</label>
                    <select id="account_to" name="account_to">
                        {% if isThere_wallet %}
                            <option value="wallet_option">Сберегательный счёт</option>
                        {% endif %}
                        {% if isThere_credit %}
                            <option value="credit_option">Кредитный счёт</option>
                        {% endif %}
                        {% if isThere_savings %}
                            <option value="savings_option">Накопительный счёт</option>
                        {% endif %}
                    </select>
                </div>

                <div class="transfer_element" style="margin-bottom: 2rem">
                    <label for="id_cash">Введите сумму:&nbsp;</label><input id="id_cash" name="sum" type="number"
                                                                            step="0.01">
                </div>

                <button type="submit">Выполнить перевод</button>

            </form>
        </div>
        <div id="transfer_to_accounts" style="display: none;">
            <div class="transfer_title">
                Перевод на счёт пользователя
            </div>
            <form method="post" action="{% url 'transactions' %}">
                {% csrf_token %}

                <div class="transfer_element">
                    <label for="account_from">Отправить со счёта:</label>
                    <select name="account_from" id="account_from">
                        {% if isThere_wallet %}
                            <option value="wallet_option">Сберегательный счёт</option>
                        {% endif %}
                        {% if isThere_credit %}
                            <option value="credit_option">Кредитный счёт</option>
                        {% endif %}
                        {% if isThere_savings %}
                            <option value="savings_option">Накопительный счёт</option>
                        {% endif %}
                    </select>
                </div>

                <div class="transfer_element">
                    <label for="account_to">Отправить на счёт:</label>
                    <label for="id_wallet_number"></label><input id="id_wallet_number" name="account_to_number"
                                                                 type="text">
                </div>

                <div class="transfer_element" style="margin-bottom: 2rem">
                    <label for="id_cash">Введите сумму:&nbsp;</label><input id="id_cash" name="sum" type="number"
                                                                            step="any">
                </div>

                <button type="submit">Выполнить перевод</button>

            </form>
        </div>

    {% else %}

        <div id="transfer_to_accounts">
            <div class="transfer_to_accounts">
                Перевод на счёт пользователя
            </div>
            <form method="post" action="{% url 'transactions' %}">
                {% csrf_token %}

                <label for="account_from">Отправить со счёта:</label>
                <select name="account_from" id="account_from">
                    {% if isThere_wallet %}
                        <option value="wallet_option">Сберегательный счёт</option>
                    {% endif %}
                    {% if isThere_credit %}
                        <option value="credit_option">Кредитный счёт</option>
                    {% endif %}
                    {% if isThere_savings %}
                        <option value="savings_option">Накопительный счёт</option>
                    {% endif %}
                </select>

                <br>

                <label for="account_to">Отправить на счёт:</label>
                <label for="id_wallet_number"></label><input id="id_wallet_number" name="account_to_number" type="text">
                <br>
                <label for="id_cash">Введите сумму</label><input id="id_cash" name="sum" type="text"> <br>

                <button type="submit">Выполнить перевод</button>

            </form>
        </div>

    {% endif %}

    {% if request %}
        <div class="request_message">{{ request_message }}</div>
    {% endif %}
    </div>
    </div>
    </div>
    </div>
</section>

<footer>
    <div class="footer_container">
        <div class="footer_block">
            <div class="footer_block_element">
                <div class="nav_logo">
                    Course.Bank
                </div>
            </div>
            <div class="footer_block_element">
                © 2023 - 2023 Course.Bank
            </div>
            <div class="footer_block_element">
                +89005553535
            </div>
            <div class="footer_block_element">
                course.bank@gmail.com
            </div>
        </div>
        <div class="footer_block">

        </div>
    </div>
</footer>

<script>
    var transfer_between = document.getElementById('transfer_between');
    var transfer_to = document.getElementById('transfer_to');
    var transfer_between_choice = document.getElementById('transfer_between_choice');
    var transfer_to_choice = document.getElementById('transfer_to_choice');
    var transfer_between_accounts = document.getElementById('transfer_between_accounts');
    var transfer_to_accounts = document.getElementById('transfer_to_accounts');

    if ({{ two_wallets }}) {
        transfer_between_accounts.style.display = 'none';
        transfer_to_accounts.style.display = 'none';

        // Добавляем обработчики событий для кнопок выбора формы
        transfer_between_choice.addEventListener('click', function () {
            transfer_between_accounts.style.display = 'block';
            transfer_to_accounts.style.display = 'none';
        });

        transfer_to_choice.addEventListener('click', function () {
            transfer_between_accounts.style.display = 'none';
            transfer_to_accounts.style.display = 'block';
        });


    } else {
        transfer_between.style.display = 'none';
        transfer_to.style.display = 'none';
    }
</script>
</body>
</html>