<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/index_style.css" %}">
<!--    <link rel="stylesheet" href="../assets/css/index_style.css">-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto+Condensed:wght@100;300&display=swap" rel="stylesheet">

    <title>{% block title %}Course.Bank{% endblock %}</title>
</head>

<body>

    <header>
        <div class="nav">
            <div class="nav_logo">
                Course.Bank
            </div>
            <nav class="nav_link_bar">
                {% block sidebar %}
                    <a class="nav_link" href="{% url "about_form" %}"> О нас </a>
                    {% if authorization %} {# Проверка на авторизацию пользователя #}
                        {% if admin %}
                        <a href="{% url "choice_search" %}" class="nav_link">Администрирование</a>
                        {% endif %}
                        {% if employee %} {# Проверка на группу админ или служащий #}
                            <a class="nav_link" href="{% url "management" %}"> Управление клиентскими данными и счетами </a>
                        {% endif %}
                        {% if client and profile %}
                        <a href="{% url "personal" %}" class="nav_link">Личный кабинет</a>
                     {% endif %}
                        <a class="nav_link" href="{% url "logout" %}"> Выход </a>
                    {% else %}
                        <a class="nav_link" href="{% url "login_form" %}"> Вход </a>
                    {% endif %}
                {% endblock %}
            </nav>
        </div>
    </header>

    <section>

        <div class="content_row">
            <div class="content_container" style="margin-bottom: 3rem; font-size: 2rem; font-weight: bold">
                Почему вы должны выбрать нас?
            </div>
        </div>

        <div class="content_row">
            <div class="content_container" style="width: 25%">
                <div class="content_block" style="background: none; box-shadow: none">
                    <div class="block_title" style="">
                        <div class="block_title_text">
                            Банк без границ <br>
                            как и этот блок
                        </div>
                    </div>

                    <div class="block_text">
                        Развиваемся вместе с вами, слушаем вас, помогаем вам
                    </div>
                </div>
            </div>

            <div class="content_container" style="width: 25%">
                <div class="content_block">
                    <div class="block_title">
                        <div class="block_title_icon">
                            <img src="../static/img/index_card.png" alt="">
                        </div>
                        <div class="block_title_text">
                            Дешевое <br> обслуживание
                        </div>
                    </div>

                    <div class="block_text">
                        Наш банк готов предоставить самые низкие цены на обслуживание карт, поддержку оператором 24\7
                        и помощь в любой ситуации
                    </div>
                </div>
            </div>

            <div class="content_container" style="width: 25%">
                <div class="content_block">
                    <div class="block_title">
                        <div class="block_title_icon">
                            <img src="../static/img/index_vault.png" alt="">
                        </div>
                        <div class="block_title_text">
                            Сохранность <br> средств
                        </div>
                    </div>

                    <div class="block_text">
                        Надежные двери наших надежных "сейфов" сохранят в надежности ваши деньги
                    </div>
                </div>
            </div>
        </div>

        <div class="content_row" style="margin-bottom: 5rem">
            <div class="content_container" style="width: 50%;">
                <div class="content_block">
                    <div class="block_title">
                        <div class="block_title_icon">
                            <img src="../static/img/index_office.png" alt="">
                        </div>
                        <div class="block_title_text">
                            Офисы по всей <br> стране
                        </div>
                    </div>

                    <div class="block_text">
                        Вы можете найти офисы нашего банка по всей России и даже в Крыму, в отличие от наших конкурентов,
                        таких как Сбер и ВТБ! 👎
                    </div>
                </div>
            </div>
            <div class="content_container" style="width: 25%;">
                <div class="content_block" style="background: none; box-shadow: none">

                </div>
            </div>
        </div>

        <div class="content_row">
            <div class="content_container" style="margin-bottom: 3rem; font-size: 2rem; font-weight: bold">
                Предоставляемые услуги
            </div>
        </div>

        <div class="content_row" style="margin-bottom: 5rem">
            <div class="content_container" style="width: 25%">
                <div class="content_block">
                    <div class="block_title" style="height: 1rem;">
                        <div class="block_title_text">
                            Сберегательный счет
                        </div>
                    </div>

                    <div class="block_text">
                        Есть возможность создать счет как рублевый, так и долларовый! Обслуживание 0 целых 0 десятых
                        рублей в месяц!
                    </div>
                </div>
            </div>

            <div class="content_container" style="width: 25%">
                <div class="content_block">
                    <div class="block_title" style="height: 1rem;">
                        <div class="block_title_text">
                            Накопительный счёт
                        </div>
                    </div>

                    <div class="block_text">
                        Прибавим вам до 20% к средствам на счете! Бесплатное обслуживание! Вывод средств без потерь!
                    </div>
                </div>
            </div>

            <div class="content_container" style="width: 25%">
                <div class="content_block">
                    <div class="block_title" style="height: 1rem;">
                        <div class="block_title_text">
                            Кредитный счёт
                        </div>
                    </div>

                    <div class="block_text">
                        Предоставляем лучшие кредитные условия, есть решения как для ежедневных покупок, так и
                        для больших покупок до 100 000 000. Рассрочка вплоть до 0% на 24 месяца.
                        Обслуживание 2000₽ в год!
                    </div>
                </div>
            </div>
        </div>

        <div class="content_row">
            <div class="content_container" style="padding-bottom: 3rem; font-size: 2rem; font-weight: bold">
                Где все это сделать?
            </div>
        </div>

        <div class="content_row">
            <a href="{% url "personal" %}" class="content_container" id="cabinet" style="width: 50%">
                <div class="content_block">
                    <div class="block_title">
                        <div class="block_title_icon">
                            <img src="../static/img/key_index.png" alt="">
                        </div>
                        <div class="block_title_text">
                            Личный <br> кабинет
                        </div>
                    </div>
                    <div class="block_text">
                        Всю нужную информацию, блок управления вы можете найти в удобном личном кабинете!
                    </div>
                </div>
            </a>
        </div>


    </section>

{#    <div class="Information">#}
{#       {% if authorization %}#}
{#            Информация о пользователе: <br>#}
{#            Логин: {{ login }} <br>#}
{#            Роли: {% for group in groups %} {{ group.name }} {% endfor %}#}
{#        {% endif %}#}
{#    </div>#}

    <footer>
        <div class="footer_container">
            <div class="footer_block">
                <div class="footer_block_element">
                    <div class="nav_logo">
                        Course.Bank
                    </div>
                </div>
                <div class="footer_block_element">
                    © 2023 - 2023 Course.Bank
                </div>
                <div class="footer_block_element">
                    +89005553535
                </div>
                <div class="footer_block_element">
                    course.bank@gmail.com
                </div>
            </div>
            <div class="footer_block">

            </div>
        </div>
    </footer>

</body>

</html>