<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/index_style.css" %}">
    <!--    <link rel="stylesheet" href="../assets/css/index_style.css">-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto+Condensed:wght@100;300&display=swap"
          rel="stylesheet">

    <title>{% block title %}Создание кредитного счета{% endblock %}</title>
</head>
<body>
<section>
    <div class="content_row" style="font-size: 1.2rem">
        <div class="content_container">
            <div class="content_block">
                <div class="block_title" style="height: auto">
                    <div class="block_title_text">
                        Введите необходимые данные
                    </div>
                </div>
                <div class="block_text">
                    <form method="post" action="{% url 'reg_form_credit' %}">
                        {% csrf_token %}
                        <div class="reg_block">
                            <label for="id_username">Введите логин пользователя</label>
                            <input id="id_username" name="username" type="text">
                        </div>
                        <div class="reg_block">
                            <div class="-"><label for="id_currency">Выберете валюту для сберегательного счёта: </label>
                                <select name="currency" id="id_currency">
                                    <option value="RU">Рубль</option>
                                    <option value="USA">Доллар</option>
                                </select>
                            </div>
                        </div>
                        <div class="reg_block">
                            <div class="limit"><label for="id_limit">Введите кредитный лимит </label>
                                <input id="id_limit" name="limit" type="text"></div>
                        </div>
                        <div class="reg_block">
                            <div class="percent"><label for="id_percent">Введите процент кредитования </label>
                                <input id="id_percent" name="percent" type="text"></div>
                        </div>
                        <button type="submit">Создать кредитный счёт пользователю</button>
                    </form>
                    <div class="message_error">
                        {% if request %}
                            <div class="request_message">
                                {{ request_message }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <a class="a_underline" href="{% url "management" %}">Вернуться назад</a>
                <a class="a_underline" href="{% url "index" %}">Вернуться на главную страницу</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>