button {
    width: 100%;
}

.administration_section {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
}

.adm_container {
    width: 80%;
    padding: 1rem 0;
}

.page_title {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 1rem;
}

.sort_settings {
    display: flex;
    gap: 3rem;
    flex-direction: row;
    padding: 2rem 0;
    border-bottom: solid 0.1em black;
    border-top: solid 0.1em black ;
}

.top_block {
    width: auto;
}

.top_block_elem {
    margin-bottom: .8rem;
}

.sort_by {
    display: none;
}

.sort_form {
    width: auto;
}

.form_title {
    margin-bottom: 1rem;
}

.form_block {
    margin-bottom: .5rem;
}

#sort_button {
    display: none;
}

#reset_sort_button {
    display: none;
}

.client-item {
    display: flex;
    flex-direction: row;;
}

.client-form {
    display: flex;
    flex-direction: row;
}