.wallet_container {
    display: none;
}

.buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.personal_text {
    margin-bottom: 1rem;
}

.passport_data {
    display: none;
}

