<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Администрирование клиентов</title>
</head>
<body>
{#<a href="{% url "administration" %}"></a>#}
<a href="">На главную</a>
<button>Сортировать по логину</button>
<button>Сортировать по ФИО </button>

<form method="GET" action="{% url "administration_clients" %}">

{#  Сортировка по логину  #}
<label for="id_login">Поиск по логину </label>
<input id="id_login" type="text" name="search" placeholder="Введите логин">
    <br>
{#  Сортировка по ФИО  #}
<label>Поиск по ФИО</label>
    <div class="full_name">
        <label for="id_surname">Фамилия</label><input id="id_surname" name="surname" type="text"  placeholder="Введите фамилию..."> <br>
        <label for="id_name">Имя</label><input id="id_name" name="name" type="text" placeholder="Введите имя...">  <br>
        <label for="id_patronymic">Отчество</label><input id="id_patronymic" name="patronymic" type="text" placeholder="Введите отчество...">  <br>
    </div>

    <button type="submit">Сортировать</button>
    {# Кнопочкой нужно сделать тоже   #}
    <a href="{% url "administration_clients" %}">Отменить изменения</a>

</form>
        <hr>
    {% for client in list_clients %}
        <button>
        {{ client.surname }}  {{ client.name }} {{ client.patronymic }} <br>{{ client.user }}
        </button>
        <hr>
     {% endfor %}
</body>
</html>