<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/index_style.css" %}">
<!--    <link rel="stylesheet" href="../assets/css/index_style.css">-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"
          rel="stylesheet">
    <title>{% block title %}Bank{% endblock %}</title>
</head>

<body>

    <header>
        <div class="nav">
            <div class="nav_logo">
                Course.Bank
            </div>
            <nav class="nav_link_bar">
                {% block sidebar %}
                    <a class="nav_link" href="/about/"> О нас </a>
                    {% if admin %}
                        <a href="/administration/" class="nav_link">Администрирование</a>
                    {% endif %}
                    {% if client and profile %}
                        <a href="/private_office/" class="nav_link">Личный кабинет</a>
                     {% endif %}
                    {% if authorization %} {# Проверка на авторизацию пользователя #}
                        {% if employee %} {# Проверка на группу админ или служащий #}
                            <a class="nav_link" href="/management/"> Управление клиентскими данными и счетами </a>
                        {% endif %}
                        <a class="nav_link" href="/logout/"> Выход </a>
                    {% else %}
                        <a class="nav_link" href="/login/"> Вход </a>
                    {% endif %}
                {% endblock %}
            </nav>
        </div>
    </header>

    <section>

        <div class="content_row">
            <div class="content_container" style="padding-bottom: 3rem; font-size: 2rem; font-weight: bold">
                Почему вы должны выбрать нас?
            </div>
        </div>

        <div class="content_row">
            <div class="content_container" style="width: 25%">
                <div class="content_block" style="background: none; box-shadow: none">
                    <div class="block_title" style="margin-bottom: 0">
                        <div class="block_title_text">
                            Инновационный банк
                        </div>
                    </div>

                    <div class="block_text">
                        Развиваемся вместе с вами, слушаем вас, помогаем вам
                    </div>
                </div>
            </div>

            <div class="content_container" style="width: 25%">
                <div class="content_block">
                    <div class="block_title">
                        <div class="block_title_icon">
                            <img src="../static/img/index_card.png" alt="">
                        </div>
                        <div class="block_title_text">
                            Дешевое <br> обслуживание
                        </div>
                    </div>

                    <div class="block_text">
                        Наш банк готов предоставить самые низкие цены на обслуживание карт, поддержку оператором 24\7
                        и помощь в любой ситуации
                    </div>
                </div>
            </div>

            <div class="content_container" style="width: 25%">
                <div class="content_block">
                    <div class="block_title">
                        <div class="block_title_icon">
                            <img src="../static/img/index_vault.png" alt="">
                        </div>
                        <div class="block_title_text">
                            Сохранность <br> средств
                        </div>
                    </div>

                    <div class="block_text">
                        Надежные двери наших надежных "сейфов" сохранят в надежности ваши деньги
                    </div>
                </div>
            </div>
        </div>

        <div class="content_row">
            <div class="content_container" style="width: 50%;">
                <div class="content_block">
                    <div class="block_title" style="height: 30%">
                        <div class="block_title_icon">
                            <img src="../static/img/index_office.png" alt="">
                        </div>
                        <div class="block_title_text">
                            Сохранность <br> средств
                        </div>
                    </div>

                    <div class="block_text">
                        Вы не найдете наши офисы в России. Потому что их нет, но это не мешает нам поддерживать
                        постоянную связь с пользователями нашего банка и помогать им в различных проблемах. Все, что
                        вы можете найти в офисах других банков, вы можете найти на нашем сайте!
                    </div>
                </div>
            </div>
            <div class="content_container" style="width: 25%;">
                <div class="content_block" style="background: none; box-shadow: none">

                </div>
            </div>
        </div>



    </section>

{#    <div class="Information">#}
{#       {% if authorization %}#}
{#            Информация о пользователе: <br>#}
{#            Логин: {{ login }} <br>#}
{#            Роли: {% for group in groups %} {{ group.name }} {% endfor %}#}
{#        {% endif %}#}
{#    </div>#}

    <footer>

    </footer>

</body>

</html>