
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/index_style.css" %}">
<!--    <link rel="stylesheet" href="../assets/css/index_style.css">-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"
          rel="stylesheet">
    <title>{% block title %}Bank{% endblock %}</title>
</head>

<body>

<header>
    <div class="nav">
        <div class="nav_logo">
            Lab.Bank
        </div>
        <nav class="nav_link_bar">
            {% block sidebar %}
                    <a class="nav_link" href="#"> О нас </a>

                    {% if priv %}
                        <a class="nav_link" href="/auth/signup"> Управление пользователями </a>
                    {% endif %}
                    {% if Authoriz %}
                        <a class="nav_link" href="/logout/"> Выход </a>
                    {% else %}
                        <a class="nav_link" href="/login/"> Вход </a>
                    {% endif %}
            {% endblock %}
        </nav>
    </div>
</header>

<div class="intro">

</div>

<div class="Information">
    {% if Authoriz %}
    	Имя пользователя: {{ name }} <br>
        Роль: {{ role }}
    {% endif %}
</div>

<footer>

</footer>

</body>

</html>