{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static "css/index_style.css" %}">
    <link rel="stylesheet" href="{% static "css/reg_form_style.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"
          rel="stylesheet">
    <title>Bank\login</title>
</head>

<body>
<div class="reg_container">
    <div class="reg_form_container">

        <img class="reg_form_img" src="{% static "img/reg_form_img_pig.png" %}"
             alt="=Oops...">

         <div class="reg_form_container_content">
             <form class="reg_form" action="" method="post">
                 <div class="reg_form_header">
                     Course.Bank
                </div>
                 {% csrf_token %}
                 <div class="reg_form_input_block">
                    <label for="username_label"> логин </label>
                    <input id="username_label" type="text"
                           name="username" class="reg_form_input">
                </div>
                <div class="reg_form_input_block">
                    <label for="password_label"> пароль </label>
                    <input id="password_label" type="password"
                           name="password" class="reg_form_input">
                </div>
                <div class="reg_form_input_block">
                    <button type="submit" class="reg_form_submit">Войти</button>
                </div>
             </form>

             {% if request_off %}
                 <div class="message"> {{ message_off }}</div>
             {% elif request_error %}
                 <div class="message"> {{ message_error }}</div>
             {% endif %}

         </div>
    </div>
</div>
</body>

</html>