<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Управление клиентскими данными и счетами</title>
</head>
<body>
<hr>
<a href="/">Вернуться на главную страницу</a>
<hr>
<a href="/reg">Регистрация пользователя в системе и в банке</a>
<hr>
<a href="/creating_wallet">Открытие сберегательного счета </a> <hr>
<a href="/creating_credit_wallet">Открытие кредитного счета </a> <hr>
<a href="/creating_savings_wallet">Открытие накопительного счета </a> <hr>
<a href="/closing_wallet">Закрытие счет пользователя</a> <hr>
</body>
</html>