<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/index_style.css" %}">
<!--    <link rel="stylesheet" href="../assets/css/index_style.css">-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto+Condensed:wght@100;300&display=swap" rel="stylesheet">

    <title>{% block title %}Личный кабинет{% endblock %}</title>
</head>
<body>
    <header>
        <div class="nav">
            <div class="nav_logo">
                Course.Bank
            </div>
            <nav class="nav_link_bar">
                {% block sidebar %}
                    <a class="nav_link" href="/">Вернуться назад</a>
                    {% if admin %}
                        <a href="/administation/" class="nav_link">Администрирование</a>
                    {% endif %}
                    {% if client and profile %}
                        <a href="/private_office/" class="nav_link">Личный кабинет</a>
                     {% endif %}
                    {% if authorization %} {# Проверка на авторизацию пользователя #}
                        {% if employee %} {# Проверка на группу админ или служащий #}
                            <a class="nav_link" href="/management/"> Управление клиентскими данными и счетами </a>
                        {% endif %}
                        <a class="nav_link" href="/logout/"> Выход </a>
                    {% else %}
                        <a class="nav_link" href="/login/"> Вход </a>
                    {% endif %}
                {% endblock %}
            </nav>
        </div>
    </header>
    <section>
    <div class="personal_info">Персональная информация</div>
    <div class="name">ФИО пользователя: {{ surname }} {{ name }} {{ patronymic }}</div>
    <div class="phone_number">Номер телефона: {{ phone_number }}</div>
    <div class="date_of_birth">Дата рождения: {{ date_of_birth }}</div>
    <div class="itn">Номер ИНН: {{ itn }}</div>
    <div class="passport_data">
        <button>Показать серию и номер паспорта</button>
        Серия и номер паспорта: {{ passport_series }} {{ passport_number }}
    </div>
    <div class="message_wallets">Блок управления личными счетами</div>
    <button>Сберегательный счёт</button>
    <button>Накопительный счёт</button>
    <button>Кредитный счёт</button>
    {% if isThere_wallet %}
        Номер счёта: {{ number_wallet }} <br>
        Остаток на сберегательном счету: {{ amount_wallet }} {{ currency_wallet }} <br>
        <div class="transactions">
            <a href="{% url "transactions" %}">Перевод денежных средств</a> <br>
        </div>
    {% else %}
        <div class="notThere_wallet_message">У вас ещё нет сберегательного счёта. Обратитесь к служащему банка</div>
    {% endif %}
    {% if isThere_credit %}
        <br>
        Номер кредитной карты: {{ number_credit }} <br>
        Остаток на кредитном счету: {{ amount_credit }}  {{ currency_credit }} из {{ limit }}  {{ currency_credit }} <br>
        Процент по кредиту: {{ percent }}
        <div class="transactions">
            <a href="{% url "transactions" %}">Перевод денежных средств</a>
        </div> <br>
    {% else %}
        <br>
        <div class="notThere_credit_message">У вас нет кредитного счёта. Обратитесь к служащему банка. </div> <br>
    {% endif %}
    {% if isThere_savings %}
        Номер накопительного счёта: {{ number_savings }} <br>
        Остаток на накопительном счету: {{ amount_savings }} {{ currency_savings }} <br>
        Ставка: {{ rate }}
        <div class="transactions">
            <a href="{% url "transactions" %}">Перевод денежных средств</a> <br>
        </div>
    {% else %}
        <div class="notThere_savings_message">У вас ещё нет накопительного счёта. Обратитесь к служащему банка</div>
    {% endif %}
        <br>
    </section>
    <footer>
        <div class="footer_container">
            <div class="footer_block">
                <div class="footer_block_element">
                    <div class="nav_logo">
                        Course.Bank
                    </div>
                </div>
                <div class="footer_block_element">
                    © 2023 - 2023 Course.Bank
                </div>
                <div class="footer_block_element">
                    +89005553535
                </div>
                <div class="footer_block_element">
                    course.bank@gmail.com
                </div>
            </div>
            <div class="footer_block">

            </div>
        </div>
    </footer>
</body>
</html>