<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/index_style.css" %}">
    <link rel="stylesheet" href="{% static "css/personal_style.css" %}">
    <!--    <link rel="stylesheet" href="../assets/css/index_style.css">-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto+Condensed:wght@100;300&display=swap"
          rel="stylesheet">

    <title>{% block title %}Личный кабинет{% endblock %}</title>

    <script>
        function openclose_passport_data() {
            let data = document.getElementById('passport_data');
            let button = document.getElementById('passport_button')
            if (data.style.display === 'block') {
                button.innerText = 'Показать паспортные данные'
                data.style.display = 'none'
            } else {
                button.innerText = 'Скрыть паспортные данные'
                data.style.display = 'block'
            }
        }

        function openclose_wallet_data(wallet_name) {
            let name = wallet_name;
            let wallet = document.getElementById('wallet_info');
            let credit = document.getElementById('credit_wallet_info');
            let savings = document.getElementById('saving_wallet_info');
            if (wallet_name === 'wallet') {
                wallet.style.display = 'block';
                credit.style.display = 'none'
                savings.style.display = 'none'
            }
            if (wallet_name === 'credit') {
                wallet.style.display = 'none';
                credit.style.display = 'block'
                savings.style.display = 'none'
            }
            if (wallet_name === 'saving') {
                wallet.style.display = 'none';
                credit.style.display = 'none'
                savings.style.display = 'block'
            }
        }
    </script>
</head>
<body>
<header>
    <div class="nav">
        <div class="nav_logo">
            Course.Bank
        </div>
        <nav class="nav_link_bar">
            {% block sidebar %}
                <a class="nav_link" href="{% url "index" %}"> Главная страница </a>
                {% if authorization %} {# Проверка на авторизацию пользователя #}
                    {% if admin %}
                        <a href="/administration/" class="nav_link">Администрирование</a>
                    {% endif %}
                    {% if employee %} {# Проверка на группу админ или служащий #}
                        <a class="nav_link" href="/management/"> Управление клиентскими данными и счетами </a>
                    {% endif %}
                    {% if client and profile %}
                        <a href="/private_office/" class="nav_link">Личный кабинет</a>
                    {% endif %}
                    <a class="nav_link" href="/logout/"> Выход </a>
                {% else %}
                    <a class="nav_link" href="/login/"> Вход </a>
                {% endif %}
            {% endblock %}
        </nav>
    </div>
</header>

<section>
    <div class="content_row">
        <div class="content_container" style="width: 30%">
            <div class="content_block">
                <div class="block_title">
                    <div class="block_title_text">
                        Персональная информация
                    </div>
                </div>
                <div class="personal_text">ФИО пользователя: {{ surname }} {{ name }} {{ patronymic }}</div>
                <div class="personal_text">Номер телефона: {{ phone_number }}</div>
                <div class="personal_text">Дата рождения: {{ date_of_birth }}</div>
                <div class="personal_text">Номер ИНН: {{ itn }}</div>
                <div class="personal_text">
                    <button id="passport_button" onclick="openclose_passport_data()">Показать паспортные данные</button>
                    <div class="passport_data" id="passport_data">
                        Серия и номер паспорта: {{ passport_series }} {{ passport_number }}
                    </div>
                </div>
            </div>
        </div>
        <div class="content_container" style="width: 60%;">
            <div class="content_block">
                <div class="block_title">
                    <div class="block_title_text">
                        Блок управления личными счетами
                    </div>
                </div>

                <div class="buttons_container">
                    <button style="width: 30%;" onclick="openclose_wallet_data('wallet')">Сберегательный счёт</button>
                    <button style="width: 30%;" onclick="openclose_wallet_data('saving')">Накопительный счёт</button>
                    <button style="width: 30%;" onclick="openclose_wallet_data('credit')">Кредитный счёт</button>
                </div>

                <div class="wallet_container" id="wallet_info">
                    {% if isThere_wallet %}
                        <div class="personal_text">Номер счёта: {{ number_wallet }}</div>
                        <div class="personal_text">Остаток на сберегательном
                            счету: {{ amount_wallet }} {{ currency_wallet }}</div>
                        <div class="transactions">
                            <a href="{% url "transactions" %}" class="money_transfer">Перевод денежных средств</a> <br>
                        </div>
                    {% else %}
                        <div class="notThere_wallet_message">У вас ещё нет сберегательного счёта. Для создания
                            обратитесь к служащему банка.
                        </div>
                    {% endif %}
                </div>

                <div class="wallet_container" id="credit_wallet_info">
                    {% if isThere_credit %}
                        <div class="personal_text">Номер кредитного счёта: {{ number_credit }}</div>
                        <div class="personal_text">Остаток на кредитном счету: {{ amount_credit }} {{ currency_credit }}
                            из {{ limit }} {{ currency_credit }}</div>
                        <div class="personal_text">Процент по кредиту: {{ percent }}</div>
                        <div class="transactions">
                            <a href="{% url "transactions" %}" class="a_underline">Перевод денежных средств</a>
                        </div>
                    {% else %}
                        <div class="notThere_credit_message">У вас нет кредитного счёта. Для создания обратитесь к
                            служащему банка.
                        </div> <br>
                    {% endif %}
                </div>

                <div class="wallet_container" id="saving_wallet_info">
                    {% if isThere_savings %}
                        <div class="personal_text">Номер накопительного счёта: {{ number_savings }}</div>
                        <div class="personal_text">Остаток на накопительном
                            счету: {{ amount_savings }} {{ currency_savings }}</div>
                        <div class="personal_text">Ставка: {{ rate }}</div>
                        <div class="transactions">
                            <a href="{% url "transactions" %}" class="a_underline">Перевод денежных средств</a>
                        </div>
                    {% else %}
                        <div class="notThere_savings_message">У вас ещё нет накопительного счёта. Для создания
                            обратитесь к служащему банка.
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</section>

<footer>
    <div class="footer_container">
        <div class="footer_block">
            <div class="footer_block_element">
                <div class="nav_logo">
                    Course.Bank
                </div>
            </div>
            <div class="footer_block_element">
                © 2023 - 2023 Course.Bank
            </div>
            <div class="footer_block_element">
                +89005553535
            </div>
            <div class="footer_block_element">
                course.bank@gmail.com
            </div>
        </div>
        <div class="footer_block">

        </div>
    </div>
</footer>
</body>
</html>