<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
    <hr>
    <div class="personal_info">Персональная информация
    </div>
    Аватарка:
    <div class="name">Имя пользователя: {{ name }}</div>
    <div class="phone_number">Номер телефона: +7{{ phone }}</div>
    <div class="date_of_birth">Дата рождения: {{ birth }}</div>
    <div class="itn">Номер ИНН: {{ itn }}</div>
    <div class="back_to_home"><a href="/">Вернуться назад</a></div>
    <hr>
    {% if isThere_wallet %}
        Блок управления личным счётом и кредитной картой <br>
        <hr>
        Номер счёта: {{ number_wallet }} <br>
        Остаток на счету: {{ amount_wallet }} {{ currency }} <br>
        {% if isThere_credit %}
            <hr>
            Номер кредитной карты: {{ number_credit }} <br>
            Остаток на кредитной карте: {{ amount_credit }} {{ currency }}<br>
        {% else %}
            <div class="message">У вас нет кредитной карты </div>
            {% if message_credit %}
            <form method="post" action="{% url "personal" %}">
                {% csrf_token %}
                <button type="submit">Отправить запрос на создание кредитной карты</button>
            </form>{% else %} <p>Запрос отправлен</p>{% endif %}
            <br>
        {% endif %}
        <hr>
        <a href="">Перевод между своими счетами</a> <br>
        <a href="">Перевод на карту пользователя</a>
    {% else %}
        <div class="notThere_wallet_message">У вас ещё нет личного счёта.<br> Завести? <br>
            <a href="/creating_wallet">Завести личный счёт</a>
        </div>
    {% endif %}

</body>
</html>