<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/index_style.css" %}">
<!--    <link rel="stylesheet" href="../assets/css/index_style.css">-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto+Condensed:wght@100;300&display=swap" rel="stylesheet">

    <title>{% block title %}Регистрация пользователя{% endblock %}</title>
</head>
<body>
    <section>
        <div class="content_row" style="font-size: 1.2rem">
            <div class="content_container">
                <div class="content_block">
                    <div class="block_title" style="height: auto">
                        <div class="block_title_text">
                            Регистрация пользователя <br> {{ text }}
                        </div>
                    </div>
                    <div class="block_text">
                    <form class="reg_form_profile" action="" method="post">
                        {% csrf_token %}
                            <div class="reg_block">
                                <label for="id_name"> ФИО пользователя:</label>
                                <div id="id_name" class="names">
                                    <input type="text" name="surname">
                                    <input type="text" name="name">
                                    <input type="text" name="patronymic">
                                </div>
                            </div>
                            <div class="reg_block">
                                <label for="id_passport">Введите серию и номер паспорта клиента:</label>
                                <div class="passport_input" id="id_passport">
                                    <input name="passport_series" type="text">
                                    <input name="passport_number" type="text">
                                </div>
                            </div>
                            <div class="reg_block">
                                <label for="id_number"> Номер телефона </label>
                                <input id="id_number" type="text" name="phone_number">
                            </div>
                            <div class="reg_block">
                                <label for="id_birth"> Дата рождения </label>
                                <input id="id_birth" type="date" name="date_of_birth">
                            </div>
                            <div class="reg_block">
                                <label for="id_itn"> Номер ИНН </label>
                                <input id="id_itn" type="text" name="itn">
                            </div>

                            <div class="reg_form_input_block">
                                <button type="submit">Зарегистрировать пользователя</button>
                            </div>

                        {% if response %}
                                <div class="message_error">Вы ввели не валидные данные. Попробуйте снова. </div>
                        {% endif %}
                        </form>
                        <a class="a_underline" href="/management">Вернуться назад</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>