<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание накопительного счета пользователю</title>
</head>
<body>
    <form method="post" action="{% url 'reg_form_savings' %}">
        {% csrf_token %}
        <label for="id_username">Введите логин пользователя</label>
        <input id="id_username" name="username" type="text">
        <hr>
        <div class="-"><label for="id_currency">Выберете валюту для сберегательного счёта: </label>
            <select name="currency" id="id_currency">
                <option value="RU">Рубль</option>
                <option value="USA">Доллар</option>
            </select>
        </div>
        <hr>
        <div class="rate"><label for="id_rate">Введите процентную ставку</label><input name="rate" id="id_rate" type="text"></div>
        <hr>
    <button type="submit">Создать накопительный счёт пользователю</button>
    </form>
    <hr>
    {% if request %}
        <div class="request_message">
            {{ request_message }}
        </div>
    {% endif %}
    <a href="/management">Вернуться назад</a> <br>
    <a href="{% url "index" %}">Вернуться на главную страницу</a>
</body>
</html>