<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание личного счёта</title>
</head>
<body>
    <form method="post" action="{% url 'reg_form_wallet' %}">
        {% csrf_token %}
        <div class="-"><label for="id_currency">Валюта: </label>
            <select name="currency" id="id_currency">
                <option value="RU">Рубль</option>
                <option value="USA">Доллар</option>
            </select>
        </div>
    <div class="-"><label for="id_walletNumber">Введите номер карты: </label><input name="wallet_number" id="id_walletNumber" type="text"></div>
    <button type="submit">Создать личный счёт</button>
    </form>
    <hr>
    <a href="/private_office">Вернуться назад</a> <br>
    <a href="/">Вернуться на главную страницу</a>
</body>
</html>