<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Registration</title>
</head>
<body>
    <div class="{% url "index" %}"><a href="/management">Вернуться назад</a></div>
    <h1>Регистрация пользователя</h1>
    {# Пока что в случае регистрации идёт перенаправление на url какой-то (в нашем случае - главная стр), но потом нужно будет разобраться, как там скрипт вызвать #}

    <form method="post" action="{% url 'reg_form' %}">
    {% csrf_token %}
        <p><label for="id_username">Логин:</label>
    <input type="text" name="username" maxlength="150" required id="id_username"></p>
        <p><label for="id_password1">Пароль:</label>
    <input type="password" name="password1" required id="id_password1"></p>
        <p><label for="id_password2">Подтверждение пароля:</label>
    <input type="password" name="password2" required id="id_password2"></p>
    <button type="submit">Далее</button>
    </form>
</body>
</html>