<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Перевод</title>
</head>
<body>
    <a href="/private_office">Вернуться назад</a> <br>
    <hr>
    {% if two_wallets %}
    <button id="transfer_between_choice">Перевод между своими счетами</button>
    <button id="transfer_to_choice">Перевод на чужой счёт</button>

    <div id="transfer_between_accounts" style="display: none;">
        <div>Перевод между своими счетами</div>
        <form method="post" action="{% url 'transactions' %}">
            {% csrf_token %}

            <label for="account_from">Отправить со счёта:</label>
            <select name="account_from" id="account_from">
                {% if isThere_wallet %}
                    <option value="wallet_option">Сберегательный счёт</option>
                {% endif %}
                {% if isThere_credit %}
                	<option value="credit_option">Кредитный счёт</option>
                {% endif %}
                {% if isThere_savings %}
                	<option value="savings_option">Накопительный счёт</option>
                {% endif %}
            </select>

            <br>

            <label for="account_to">Отправить на счёт:</label>
            <select id="account_to" name="account_to">
                {% if isThere_wallet %}
                    <option value="wallet_option">Сберегательный счёт</option>
                {% endif %}
                {% if isThere_credit %}
                	<option value="credit_option">Кредитный счёт</option>
                {% endif %}
                {% if isThere_savings %}
                	<option value="savings_option">Накопительный счёт</option>
                {% endif %}
            </select>

            <br>
            <label for="id_cash">Введите сумму</label><input id="id_cash" name="sum" type="number"> <br>

            <button type="submit">Выполнить перевод</button>

        </form>
    </div>

    <div id="transfer_to_accounts" style="display: none;">
        <div class="transfer_to_accounts">
            Тут будет форма
        </div>
    </div>

    {% else %}

    <div id="transfer_to_accounts">
        <div class="transfer_to_accounts">
           Перевод между своими счетами 
        </div>
    </div>

    {% endif %}

    {% if request %}
    	<div class="request_message">{{ request_message  }}</div>
    {% endif %}

    <script>
    var transfer_between = document.getElementById('transfer_between');
    var transfer_to = document.getElementById('transfer_to');
    var transfer_between_choice = document.getElementById('transfer_between_choice');
    var transfer_to_choice = document.getElementById('transfer_to_choice');
    var transfer_between_accounts = document.getElementById('transfer_between_accounts');
    var transfer_to_accounts = document.getElementById('transfer_to_accounts');

    if ({{ two_wallets }}) {
        transfer_between_accounts.style.display = 'none';
        transfer_to_accounts.style.display = 'none';

        // Добавляем обработчики событий для кнопок выбора формы
        transfer_between_choice.addEventListener('click', function() {
            transfer_between_accounts.style.display = 'block';
            transfer_to_accounts.style.display = 'none';
        });

        transfer_to_choice.addEventListener('click', function() {
            transfer_between_accounts.style.display = 'none';
            transfer_to_accounts.style.display = 'block';
        });


    } else {
        transfer_between.style.display = 'none';
        transfer_to.style.display = 'none';
    }
    </script>
</body>
</html>